In [1]:
dic_var = {"key": "value"}
print(type(dic_var))
print(dic_var)

<class 'dict'>
{'key': 'value'}

In [2]:
dic_var = {"key": "value", "key": "last value"}
print(dic_var)

{'key': 'last value'}

In [4]:
dic_var = {"key": "value",
           1: "value2",
           1.1: "value3",
           True: "value4",
           ("key", 1, 1.1, True): "value2"}
print(list(map(type, dic_var.keys())))

[<class 'str'>, <class 'int'>, <class 'float'>, <class 'tuple'>]

In [6]:
dic_var = {"key": "value",
           1: 1,
           1.1: 1.1,
           True: False,
           ("key", 1, 1.1, True): ("key", 1, 1.1, True)}
print(list(map(type, dic_var.keys())))
print(list(map(type, dic_var.values())))

[<class 'str'>, <class 'int'>, <class 'float'>, <class 'tuple'>]
[<class 'str'>, <class 'bool'>, <class 'float'>, <class 'tuple'>]

In [7]:
dict_a = dict(key="value", key2="value2", key3="value3")
print(dict_a)

{'key': 'value', 'key2': 'value2', 'key3': 'value3'}

In [8]:
# zip을 이용한 생성법
dict_b = dict(zip(["key", "key2", "key3"], ["value", "value2", "value3"]))
print(dict_b)

{'key': 'value', 'key2': 'value2', 'key3': 'value3'}

In [9]:
# zip을 이용한 생성법
[_ for _ in zip(["key", "key2", "key3"], ["value", "value2", "value3"])]

[('key', 'value'), ('key2', 'value2'), ('key3', 'value3')]

In [10]:
print(dict_b)
# 값 변경
dict_b['key'] = 'super value'
print(dict_b)

{'key': 'value', 'key2': 'value2', 'key3': 'value3'}
{'key': 'super value', 'key2': 'value2', 'key3': 'value3'}

In [11]:
# 없는 키를 활용해 값을 할당하면 새로운 키와 값의 쌍이 추가됨
print(dict_b)
dict_b['new one'] = "new value"
print(dict_b)

{'key': 'super value', 'key2': 'value2', 'key3': 'value3'}
{'key': 'super value', 'key2': 'value2', 'key3': 'value3', 'new one': 'new value'}

In [12]:
# 존재하지 않는 키에 접근하려하면 KeyError
print(dict_b)
print(dict_b['없는 키'])

{'key': 'super value', 'key2': 'value2', 'key3': 'value3', 'new one': 'new value'}

KeyError: '없는 키'

In [13]:
print(dict_b)
print('key' in dict_b)

{'key': 'super value', 'key2': 'value2', 'key3': 'value3', 'new one': 'new value'}
True

In [14]:
# del 키워드를 활용해 특정 키-값 쌍 삭제가능
print(dict_b)
del dict_b['new one']
print(dict_b)

{'key': 'super value', 'key2': 'value2', 'key3': 'value3', 'new one': 'new value'}
{'key': 'super value', 'key2': 'value2', 'key3': 'value3'}

In [16]:
# len 키워드를 활용해 길이를 구할 수 있다!
print(dict_b)
len(dict_b)

{'key': 'super value', 'key2': 'value2', 'key3': 'value3'}

3

In [20]:
fruits = {"사과": 1000, "바나나": 700, "오렌지": 1500, "파인애플": 2000}
fruit_name = input("과일 이름을 입력하세요.")

print(f'{fruit_name}의 가격은 {fruits[fruit_name]}원 입니다.')

파인애플의 가격은 2000원 입니다.

In [24]:
# 뽀로로 루피 크롱 스누피
# 20.4 16.2 22.3 5.2
name = list(input('이름을 기입해주세요.').split())
weight = list(map(float, input('몸무게를 입력해주세요').split()))

# tmp_dict = [_ for _ in zip(name, weight)]
tmp_dict = dict(zip(name, weight))
print(tmp_dict)

{'뽀로로': 20.4, '루피': 16.2, '크롱': 22.3, '스누피': 5.2}

In [31]:
# 설명용 코드

# 함수는 안쪽것부터 실행됨
# weight = list(map(float, input('몸무게를 입력해주세요').split()))
# input() 한거를 split() 한거를 map() 한거를 list()

# 아래의 문자열을 input()으로 받았다고 가정
input_text = '20.4 16.2 22.3 5.2'
print('input_text =', input_text)

# split()을 한다면 어떻게 바뀔까?
input_text = input_text.split()
print('split() 결과 =', input_text)

# map을 쓰는 이유
# 하나라면 float()으로 바꿔줄 수 있지만 split()한 결과처럼 여러개라면 map이 필요
input_text = map(float, '20.4 16.2 22.3 5.2'.split())
print('map 결과 =', input_text)

# map한것들을 list()를 사용해 리스트로 만들어주자!
input_text = list(input_text)
print('list 결과 =', input_text)

input_text = 20.4 16.2 22.3 5.2
split() 결과 = ['20.4', '16.2', '22.3', '5.2']
map 결과 = <map object at 0x10b458040>
list 결과 = [20.4, 16.2, 22.3, 5.2]

In [32]:
# list comprehension
list_a = [_ ** 2 for _ in range(1, 10)]
list_a

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [33]:
[print("Hello world") for _ in range(10)]

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

[None, None, None, None, None, None, None, None, None, None]

In [34]:
prac_result = [_ ** 2 for _ in range(1, 10)]
print(type(prac_result))
print(prac_result)

<class 'list'>
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [29]:
votes = [2, 5, 3, 4, 1, 5, 1, 5, 5, 3]
candidates = ["", "전정국", "김남준", "박지민", "정호석", "김태형"]

# 번호를 맵핑하기 위한 리스트
numbers = list(range(6))

# 결과를 저장하기 위한 리스트
res = [0] * 6

# votes 리스트를 탐색하며 결과 리스트를 +1
for i in range(len(votes)):
    res[votes[i]] += 1
    
# 번호를 key로, 후보자 이름을 value로 갖는 tmp_dict 생성
tmp_dict = dict(zip(numbers, candidates))

# 제일 표를 많이 받은 사람 찾기
max_index = 0
for i in range(len(res)):
    if res[i] > res[max_index]:
        max_index = i
        
print(f'{tmp_dict[max_index]} 후보가 총 {res[max_index]} 표를 얻어 당선되었습니다.')

김태형 후보가 총 4 표를 얻어 당선되었습니다.

In [32]:
prac_result2 = [_ * 2 - 1 for _ in range(1, 6)]
print(prac_result2)

[1, 3, 5, 7, 9]

In [42]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'
prac_result3 = [_ for _ in alphabet]
print(prac_result3)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [49]:
prac_result4 = [str(_) for _ in range(2, 11)] + [ _ for _ in 'JQKA']
prac_result4

['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']

In [50]:
num = int(input("순환할 숫자를 입력하세요:"))
e = [i for i in range(1, num+1)]
for j in range(len(e)):
    j = 0
    for i in e:
        print(i,end=" ")
    print()
    e.append(e[j])
    e.remove(e[j])

1 2 3 4 5 6 7 8 9 10
2 3 4 5 6 7 8 9 10 1
3 4 5 6 7 8 9 10 1 2
4 5 6 7 8 9 10 1 2 3
5 6 7 8 9 10 1 2 3 4
6 7 8 9 10 1 2 3 4 5
7 8 9 10 1 2 3 4 5 6
8 9 10 1 2 3 4 5 6 7
9 10 1 2 3 4 5 6 7 8
10 1 2 3 4 5 6 7 8 9

In [2]:
num = int(input("순환할 숫자를 입력하세요:"))
# i => 1 ~ 입력한 숫자까지
for i in range(1, num + 1):
    for j in range(i, num + i):
        if j % num == 0:
            print(num, end=" ")
        else:
            print(j % num, end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
2 3 4 5 6 7 8 9 10 1
3 4 5 6 7 8 9 10 1 2
4 5 6 7 8 9 10 1 2 3
5 6 7 8 9 10 1 2 3 4
6 7 8 9 10 1 2 3 4 5
7 8 9 10 1 2 3 4 5 6
8 9 10 1 2 3 4 5 6 7
9 10 1 2 3 4 5 6 7 8
10 1 2 3 4 5 6 7 8 9

In [1]:
empty_tuple = tuple()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [3]:
generator_variable = (_ for _ in range(10))

In [4]:
print(type(generator_variable))

<class 'generator'>

In [5]:
# iterable
# tuple(인수), list(인수)
hasattr(generator_variable, "__iter__")

True

[expression for 변수 in 반복가능한 객체(iterable) if 조건식]

In [9]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
b = [ _ for _ in a if len(_) == 5]
print(b)

['alpha', 'bravo', 'delta', 'hotel', 'india']

In [22]:
# 첫번째 값의 범위는 1 ~ 20입니다.
# 두번째 값의 범위는 10 ~ 30입니다.
# 첫 번째 입력 값은 두 번째 입력 값보다 작게 입력하세요.
condition = False
while(condition == False):
    a, b = map(int, input().split())
    if a < 1 or a > 20:
        print('첫번째 값의 범위는 1 ~ 20입니다.')
        continue
    elif b < 10 or b > 30:
        print('두번째 값의 범위는 10 ~ 30입니다.')
        continue
    elif a >= b:
        print('첫 번째 입력 값은 두 번째 입력 값보다 작게 입력하세요.')
        continue
    else:
        condition = True
        
res = [2 ** _ for _ in range(a, b+1)]
res.pop(1)
res.pop(-2)
print(res)

첫번째 값의 범위는 1 ~ 20입니다.
두번째 값의 범위는 10 ~ 30입니다.
첫 번째 입력 값은 두 번째 입력 값보다 작게 입력하세요.
[1024, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 1048576]

In [29]:
i = 1
sum = 0
while(i <= 100):
    if i % 2 == 1:
        sum -= i ** 2
        print('-', i ** 2, end=' ')
    elif i % 2 == 0 and i % 10 == 0:
        sum += i ** 2
        print('+', i ** 2)
    else:
        sum += i ** 2
        print('+', i ** 2, end =' ')
    i += 1

print(f'= {sum} 입니다.')

- 1 + 4 - 9 + 16 - 25 + 36 - 49 + 64 - 81 + 100
- 121 + 144 - 169 + 196 - 225 + 256 - 289 + 324 - 361 + 400
- 441 + 484 - 529 + 576 - 625 + 676 - 729 + 784 - 841 + 900
- 961 + 1024 - 1089 + 1156 - 1225 + 1296 - 1369 + 1444 - 1521 + 1600
- 1681 + 1764 - 1849 + 1936 - 2025 + 2116 - 2209 + 2304 - 2401 + 2500
- 2601 + 2704 - 2809 + 2916 - 3025 + 3136 - 3249 + 3364 - 3481 + 3600
- 3721 + 3844 - 3969 + 4096 - 4225 + 4356 - 4489 + 4624 - 4761 + 4900
- 5041 + 5184 - 5329 + 5476 - 5625 + 5776 - 5929 + 6084 - 6241 + 6400
- 6561 + 6724 - 6889 + 7056 - 7225 + 7396 - 7569 + 7744 - 7921 + 8100
- 8281 + 8464 - 8649 + 8836 - 9025 + 9216 - 9409 + 9604 - 9801 + 10000
= 5050 입니다.

In [11]:
old_li = list(range(10))
new_li = old_li[:]

print(id(old_li))
print(id(new_li))
print(old_li is new_li)
print(old_li == new_li)

4523653056
4534847936
False
True

### random 라이브러리   
random.randint(시작, 끝)

In [1]:
import random
random_li = [random.randint(1, 2) for _ in range(10)]
random_li

[1, 1, 1, 1, 2, 2, 2, 2, 2, 2]

In [5]:
# 로또 연습문제

import random
# 몇번 할지 입력받음
n = int(input('로또 번호 몇 개 드릴까요?'))

# 로또 n줄 생성
for _ in range(n):
    lotto_li = []    # 빈 리스트 생성
    
    while(len(lotto_li) < 6):    # 리스트의 길이가 6보다 작을때 로또 번호 하나씩 넣어주기
        tmp = random.randint(1, 45)
        if tmp in lotto_li:    # 중복이 있을 경우 다시 뽑기
            continue
        else:
            lotto_li.append(tmp)    # 중복이 아닐경우 리스트에 추가
    lotto_li.sort()
    print(lotto_li)

[14, 17, 21, 31, 34, 41]
[4, 10, 11, 13, 31, 32]
[6, 8, 15, 30, 37, 39]
[13, 18, 20, 29, 35, 36]
[5, 11, 14, 26, 37, 44]

### set 자료형 사용법

In [6]:
set_variable = set()
print(set_variable, type(set_variable))

set() <class 'set'>

In [8]:
[set_variable.add(1) for _ in range(5)]
set_variable

{1}

In [9]:
# 합집합

A = {_ for _ in range(1, 5)}
B = {_ for _ in range(2, 6) if _ != 3}
print(A, B)
print(set.union(A, B))
print(A | B)

{1, 2, 3, 4} {2, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [10]:
# 교집합

A = {_ for _ in range(1, 5)}
B = {_ for _ in range(2, 6) if _ != 3}
print(A, B)
print(set.intersection(A, B))
print(A & B)

{1, 2, 3, 4} {2, 4, 5}
{2, 4}
{2, 4}

In [11]:
# 차집합

A = {_ for _ in range(1, 5)}
B = {_ for _ in range(2, 6) if _ != 3}
print(A, B)
print(set.difference(A, B))
print(A - B)

{1, 2, 3, 4} {2, 4, 5}
{1, 3}
{1, 3}

In [12]:
# 대칭차집합

A = {_ for _ in range(1, 5)}
B = {_ for _ in range(2, 6) if _ != 3}
print(A, B)
print(set.symmetric_difference(A, B))
print(A ^ B)

{1, 2, 3, 4} {2, 4, 5}
{1, 3, 5}
{1, 3, 5}

In [18]:
# A에 B를 추가

A = {_ for _ in range(1, 5)}
B = {_ for _ in range(2, 6) if _ != 3}
print(A, B)
A.update(B)
A

{1, 2, 3, 4} {2, 4, 5}

{1, 2, 3, 4, 5}

In [19]:
# issubset()
# issuperset()
# isdisjoint()

In [13]:
# 로또 연습문제

import random
# 몇번 할지 입력받음
n = int(input('로또 번호 몇 개 드릴까요?'))

# 로또 n줄 생성
for _ in range(n):
    lotto_set = set()    # 빈 집합 생성
    while(len(lotto_set) < 6):    # 집합의 길이가 6보다 작을때 로또 번호 하나씩 넣어주기
        tmp = random.randint(1, 45)
        lotto_set.add(tmp)    
    lotto_set = list(lotto_set) # 정렬을 위해 리스트로 바꿔주기
    lotto_set.sort() # 정렬
    print(lotto_set)

[9, 13, 19, 20, 24, 38]
[16, 18, 27, 30, 32, 43]
[10, 13, 17, 18, 40, 42]
[5, 9, 14, 22, 33, 42]
[5, 8, 9, 27, 42, 44]

In [ ]:
# 로또 연습문제

import random
# 몇번 할지 입력받음
n = int(input('로또 번호 몇 개 드릴까요?'))

# 로또 n줄 생성
for _ in range(n):
    lotto_li = []    # 빈 리스트 생성
    
    while(len(lotto_li) < 6):    # 리스트의 길이가 6보다 작을때 로또 번호 하나씩 넣어주기
        tmp = random.randint(1, 45)
        if tmp in lotto_li:    # 중복이 있을 경우 다시 뽑기
            continue
        else:
            lotto_li.append(tmp)    # 중복이 아닐경우 리스트에 추가
    lotto_li.sort()
    print(lotto_li)

In [14]:
list_sample = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
set(list_sample)

{1, 2, 3, 4}

In [16]:
set_3 = {_ for _ in range(3, 101, 3)}
set_5 = {_ for _ in range(5, 101, 5)}
result_set = set_3 & set_5
print(result_set)

{75, 45, 15, 90, 60, 30}

In [23]:
role_admin = {"회계 관리", "인사 관리", "구매 관리", "시스템 관리"}
role_hr = {"인사 관리", "개인정보 조회", "회계 관리", "근태 관리"}
role_user = {"개인정보 조회", "근태 관리"}

A = set()
A.update(role_admin)
A.update(role_hr)
A.update(role_user)
A = list(A)
A.sort()
for _ in range(len(A)):
    if _ == len(A) -1:
        print(A[_])
    else:
        print(A[_], end=', ')

개인정보 조회, 구매 관리, 근태 관리, 시스템 관리, 인사 관리, 회계 관리

In [57]:
print('2부터 입력하신 수까지의 모든 소수를 찾는 프로그램입니다.')
n = int(input("찾는 범위를 입력하세요 : "))
count = 1
for i in range(2, n + 1):
    if i == 2:
        print('2', end= ' ')
        count += 1
        continue
    for j in range(2, i):
        if i % j == 0:
            break
    if j == i -1 and count % 7 == 0:
        count += 1
        print(i)
        
    elif j == i - 1 and count % 7 != 0:
        count += 1
        print(i, end=' ')

2부터 입력하신 수까지의 모든 소수를 찾는 프로그램입니다.
2 3 5 7 11 13 17
19 23 29 31 37 41 43
47 53 59 61 67 71 73
79 83 89 97

In [61]:
def function2():
    """
    Docs String입니다
    함수 설명
    """
    pass

In [62]:
function2.__doc__

'\n    Docs String입니다\n    함수 설명\n    '

In [63]:
list.__doc__

'Built-in mutable sequence.\n\nIf no argument is given, the constructor creates a new empty list.\nThe argument must be an iterable if specified.'

In [64]:
# 함수 정의절
def function_name(positional, positional2, *args, keyword1=1, **kargs):
    pass

In [65]:
def get_grade(score):
    """
    숫자로된 점수를 넣으시면 학점의 결과를 반환합니다.
    """
    if 85 <= score <= 100:
        return "A"
    elif 70 <= score <= 84:
        return "B"
    elif 55 <= score <= 69:
        return "C"
    elif 40 <= score <= 54:
        return "D"
    elif 0 <= score <= 39:
        return "F"

In [66]:
result = get_grade(100)
print(result)

A

In [67]:
import random

scores = [random.randint(1, 100) for _ in range(20)]
scores

[91, 97, 46, 15, 69, 30, 32, 50, 92, 37, 99, 81, 12, 30, 96, 5, 15, 45, 18, 19]

In [69]:
grades = list(map(get_grade, scores))
print(grades)

['A', 'A', 'D', 'F', 'C', 'F', 'F', 'D', 'A', 'F', 'A', 'B', 'F', 'F', 'A', 'F', 'F', 'D', 'F', 'F']

In [73]:
def get_grade(score, student_number, name="홍길동"):
    """
    숫자로된 점수를 넣으시면 학점의 결과를 반환합니다.
    """
    print(f"{student_number}, {name}의 성적을 확인합니다.")
    if 85 <= score <= 100:
        return "A"
    elif 70 <= score <= 84:
        return "B"
    elif 55 <= score <= 69:
        return "C"
    elif 40 <= score <= 54:
        return "D"
    elif 0 <= score <= 39:
        return "F"

In [75]:
get_grade(100, 11111111, '김강직')

11111111, 김강직의 성적을 확인합니다.

'A'

In [ ]:
def add_number(number1, number2):
    """_숫자 number1과 숫자 number2를 전달받아 더한 결과를 반환한다.

    Args:
        number1 (_type_): _description_
        number2 (_type_): _description_
    """
    return number1 + number2

In [80]:
# positional-only: / 문자를 기준으로 왼편에
# keyword-only: * 문자를 기준으로 왼편에
def multi_number(number1, /, *, number2):
    return number1 * number2

In [77]:
multi_number(3, 10)

TypeError: multi_number() takes 1 positional argument but 2 were given

In [78]:
multi_number(number1=3, number2=10)

TypeError: multi_number() got some positional-only arguments passed as keyword arguments: 'number1'

In [79]:
multi_number(3, number2=10)

30

In [81]:
def string_line(str_value, /, str_len, *, sep="#"):
    """_summary_

    Args:
        str_value (_type_): 가운데 오는 텍스트입니다
        str_len (_type_): 텍스트의 설정할 길이입니다.
        sep (str, optional): 구분선을 그을때 쓰는 문자입니다. Defaults to "#".
    """
    print(str_value.center(str_len, sep))

In [82]:
string_line("구분", 50, sep="*")

************************구분************************

In [83]:
len('************************구분************************')

50

In [84]:
string_line("절취선", str_len=100, sep="-")

------------------------------------------------절취선-------------------------------------------------

In [86]:
len("------------------------------------------------절취선-------------------------------------------------")

100

In [89]:
# *args: var positional 가변 위치
def test_func(a, b, c, *args):
    print(f"a: {a} b: {b} c: {c}")
    print(type(args))
    print(args)

In [91]:
test_func("a 위치입니다", "b 위치입니다.", "c 위치입니다.", "여기는", "어딜까요", "몇개", "더")

a: a 위치입니다 b: b 위치입니다. c: c 위치입니다.
<class 'tuple'>
('여기는', '어딜까요', '몇개', '더')

In [93]:
# **kargs: var keyworld 가변 키워드
def test_func2(a="a", b="b", **kargs):
    print(a, b)
    print(type(kargs))
    print(kargs)

In [94]:
test_func2(a="ab", b="bc", key="value", key2="value2")

ab bc
<class 'dict'>
{'key': 'value', 'key2': 'value2'}

In [96]:
def plus_ten(num):
    return num + 10
print(f"반환 값: {plus_ten(70)}")

반환 값: 80

## 20230113
### join()

In [98]:
list_strs = [_ for _ in "abcdefghijklmnopqrstuvwxyz"]
print(f"list_strs = {list_strs}")

# str.join(list)
# str 요소들로 이뤄진 list를 합쳐 하나의 문자열로 만듭니다.

whole_str = "*".join(list_strs)
whole_str

list_strs = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

'a*b*c*d*e*f*g*h*i*j*k*l*m*n*o*p*q*r*s*t*u*v*w*x*y*z'

In [117]:
# 1부터 100까지 범위의 업다운 게임
import random

target = random.randint(1, 100)
count = 0
res = []

while(True):
    n = input("숫자를 입력하세요 : ")
    count += 1
    res.append(n)
    n = int(n)    # join연산은 str타입이어야 해서 res 리스트에 str타입으로 추가한 후 int 형변환
    if n == target:
        print('맞췄습니다!')
        break
    if n < 1 or n > 100:
        print('1~100 사이의 숫자를 입력하세요')
        continue
    if n < target:
        print("그보다 큽니다.")
    if n > target:
        print("그보다 작습니다.")

print(f'{count}번 만에 맞추셨습니다.')
print(f"입력한 숫자는 다음과 같습니다. {', '.join(res)}")

그보다 큽니다.
그보다 작습니다.
그보다 작습니다.
그보다 작습니다.
그보다 작습니다.
그보다 큽니다.
맞췄습니다!
7번 만에 맞추셨습니다.
입력한 숫자는 다음과 같습니다. 50, 75, 65, 65, 63, 60, 62

In [118]:
def to_celsius(fahrenheit):
    return (fahrenheit - 32) * 5 / 9

print(f'반환 값: {to_celsius(70)}')

반환 값: 21.11111111111111

In [133]:
def odd_even(num):
    """
    number가 짝수면 "짝수", 홀수면 "홀수" 반환
    """
    if type(num) != int or num < 1:
        return
    if num % 2 == 0:
        return "짝수"
    else: 
        return "홀수"

In [134]:
print(odd_even.__doc__)
print(odd_even(10))
print(odd_even(9))
print(odd_even(0))
print(odd_even("가"))

    number가 짝수면 "짝수", 홀수면 "홀수" 반환

짝수
홀수
None
None

In [136]:
def check_leap_year(year):
    if year % 4 != 0:
        return "평년"
    elif year % 100 == 0 and year % 400 != 0:
        return "평년"
    else:
        return "윤년"

In [142]:
def days(num):
    li_31 = [1, 3, 5, 7, 8, 10, 12]
    li_30 = [4, 6, 9, 11]
    if num == 2:
        return 28
    if num in li_30:
        return 30
    elif num in li_31:
        return 31

In [147]:
def day(year, num):
    li_31 = [1, 3, 5, 7, 8, 10, 12]
    li_30 = [4, 6, 9, 11]
    if num == 2:
        if year % 4 != 0:
            return 28
        elif year % 100 == 0 and year % 400 != 0:
            return 28
        else:
            return 29
    if num in li_30:
        return 30
    elif num in li_31:
        return 31

In [152]:
def get_quoitent_remainder(x, y):
    return x // y, x % y

x = 10
y = 3

quitient, remainder = get_quoitent_remainder(x, y)
print(f'몫: {quitient}, 나머지: {remainder}')

몫: 3, 나머지: 1

lambda [parameters] : expression

In [154]:
(lambda x: x + 10)(10)

20

In [155]:
twice = lambda x: x * 2
twice(10)

20

True일때 값 if 조건식 else False일때 값

In [156]:
score = 90
'A' if 90<score<=100 else 'B' if 80<score else 'C'

'B'

In [157]:
a = [_ for _ in range(1, 6)]
b = [_ for _ in range(2, 11, 2)]
print(list(map(lambda x, y: x * y, a, b)))

[2, 8, 18, 32, 50]

In [158]:
print((lambda x : x ** 2)(10))

100

In [159]:
# 속도와 가독성 모두 리스트 컴프리헨션이 더 낫다
a = [3, 2, 8, 22, 10, 7, 0, 11, 9, 9]
list(filter(lambda x: x % 3 == 0 and 0 < x < 10, a))

[3, 9, 9]

In [166]:
class Student():
    def __init__(self):
        self.hello = "안녕하세요"

In [164]:
Student() # 독립적인 값을 보장하는 인스턴스로 생성됩니다.

In [167]:
class Person():
    def __init__(self):
        self.hello = "안녕하세요"

In [168]:
james = Person()

In [169]:
james.hello

'안녕하세요'

In [170]:
bebe = Person()

In [171]:
bebe.hello

'안녕하세요'

In [172]:
class Person():
    def __init__(self):
        self.hello = "안녕하세요"
    
    def greeting(self):
        print(self.hello)

In [174]:
james = Person()
james.greeting()

안녕하세요