In [347]:
# class 연습문제
count = 0
order = []
class Team:
    def __init__(self, number, name=None):
        global count
        count += 1
        self.number = number
        self.name = name
        self.__member = set()
    def add_member(self, add_name):
        if add_name in self.__member:
            print(f"{add_name}님은 이미 팀에 있습니다.")
            return
        else:
            print(f"{add_name} 님을 {self.number} 팀에 추가했습니다.")
            self.__member.add(add_name)
            return
    def rm_member(self, rm_name):
        if rm_name in self.__member:
            print(f"{rm_name}님을 {self.number} 팀에서 삭제했습니다.")
            self.__member.remove(rm_name)
            return
        else:
            print(f"{rm_name} 님은 해당 팀에 없습니다.")
            return
    def get_count(self):
        return count
    def get_order(self):
        global order
        return order
    def set_order(self, num):
        global order
        if num in order:
            order = list(set(order))
            order.remove(num)
        order.append(num)
        return
    def __len__(self):
        return len(self.__member)

In [348]:
t1 = Team(1)

In [349]:
t1.add_member("윤규현")

윤규현 님을 1 팀에 추가했습니다.

In [350]:
t1.add_member("윤규현")

윤규현님은 이미 팀에 있습니다.

In [351]:
len(t1)

1

In [352]:
t1.add_member("이호진")

이호진 님을 1 팀에 추가했습니다.

In [353]:
len(t1)

2

In [354]:
t1.add_member("이기수")

이기수 님을 1 팀에 추가했습니다.

In [355]:
t1.rm_member("이기수")

이기수님을 1 팀에서 삭제했습니다.

In [356]:
t1.rm_member("이기수")

이기수 님은 해당 팀에 없습니다.

In [357]:
t2 = Team(2)

In [358]:
t2.set_order(t2.number)

In [359]:
t1.set_order(t1.number)

In [360]:
t1.get_order()

[2, 1]

In [361]:
t1.get_count()

2

In [362]:
t3 = Team(3)

In [363]:
t3.get_count()

3

In [364]:
t3.set_order(t3.number)

In [365]:
t3.get_order()

[2, 1, 3]

In [375]:
# class 연습문제
# 강사님 코드

class Team:
    """
    팀 객체를 만듭니다.
    """
    count = 0
    order = []
    
    def __init__(self, number, name=None, member=set()):
        self.number = number
        self.name = name
        self.__member = member
        Team.count += 1
        
    def add_member(self, add_name):
        if add_name in self.__member:
            print(f"{add_name}님은 이미 팀에 있습니다.")
            return
        else:
            self.__member.add(add_name)
            print(f"{add_name} 님을 {self.number} 팀에 추가했습니다.")
            return
        
    def rm_member(self, rm_name):
        if rm_name in self.__member:
            print(f"{rm_name}님을 {self.number} 팀에서 삭제했습니다.")
            self.__member.remove(rm_name)
            return
        else:
            print(f"{rm_name} 님은 해당 팀에 없습니다.")
            return
        
    def get_count(self):
        return self.count
    
    def get_order(self):
        return self.order
    
    def set_order(self, num):
        if num in self.order:
            self.order = list(set(order))
            self.order.remove(num)
        self.order.append(num)
        return
    
    def __len__(self):
        return len(self.__member)

In [376]:
t1 = Team(1)
t1.add_member('윤규헌')
t1.add_member('윤규헌')
print(len(t1))
t1.add_member('이호진')
print(len(t1))
t1.add_member("이기수")
t1.rm_member('이기수')
t1.rm_member('이기수')
t2 = Team(2)
t2.set_order(t2.number)
t1.set_order(t1.number)
t1.get_order()
t1.get_count()
t3 = Team(3)
t3.get_count()
t3.set_order(t3.number)
t3.get_order()

윤규헌 님을 1 팀에 추가했습니다.
윤규헌님은 이미 팀에 있습니다.
1
이호진 님을 1 팀에 추가했습니다.
2
이기수 님을 1 팀에 추가했습니다.
이기수님을 1 팀에서 삭제했습니다.
이기수 님은 해당 팀에 없습니다.

[2, 1, 3]